@page "{restaurantId:int}"
@model PSCoreFundamentals.Pages.Restaurants.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Restaurant.Name</h2>
<div>
    ID: @Model.Restaurant.Id
</div>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cusine: @Model.Restaurant.Cusine
</div>
@if (Model.Message!=null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<a asp-page="./List" class="btn btn-default"> All Restaurants   </a>